/venv
/secrets
/.vscode
/.tmontmp
.testmondata
.coverage
__pycache__
/misc
/run/tests
sano-server-dev*
.env
*.full.*
*txt.zip*
.coverage*
requirements.md5
*.diff
*.large.*
zappa_settings_unused.json
coverage.xml
server-test-reports/
resources/
joe.csv
patrick.csv
run/mine
